extends layout

block content
	script(src="http://platform.fatsecret.com/js?key=cbe2847882ed46d1b27ed6f837d901e0")

	script(src="/javascripts/map.js")
	
	#my_container.fatsecret_container

	#map
		script( src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
		script.
			initMap(!{JSON.stringify(coords)})
			