extends layout

block content
	script(src="http://platform.fatsecret.com/js?key=cbe2847882ed46d1b27ed6f837d901e0")

	script(src="/javascripts/map.js")

	script.
		var DATA = [];

		function AddFood(){
			console.log("here");
			console.log(DATA[$("#IndexHolder").val()]);
			console.log("There");
			data = {
				food : JSON.stringify(DATA[$("#IndexHolder").val()])
			}
			$.ajax({
				type: "POST",
				url: "/addfood",
				data: data,
				success: function(msg, status, jqXHR){
					if(status == "success"){
						console.log(msg);
						GetFoods();
					}
				},
				dataType: "JSON"
			});		
		}

		function SetGroceries(data){
			$("#GroceryAnchor").empty();
			console.log("Cool");
			console.log(data);
			data = data.result;

			for(var i = 0; i < data.foods.length; i++){
				$("#GroceryAnchor").append("<tr><td onclick='SelectGroceryItem(" + JSON.stringify(data.foods[i]) + ")'>" + data.foods[i].recipe.label + "</td></tr><hr>");
 
			}

		}


		function GetFoods(){
			$.ajax({
				type: "POST",
				url: "/getfood",
				data:{},
				success: function(msg, status, jqXHR){
					if(status == "success"){
						SetGroceries(msg);
					}
				},
				dataType: "JSON"
			});
		}

		function SubmitSearch(){
			data = {
				keywords : $("#searchbar").val()
			}
			$.ajax({
				type: "POST",
				url: "/search",
				data: data,
				success: function(msg, status, jqXHR){
					if(status == "success"){
						console.log(msg);
						BuildResultTable(msg);
					}
				},
				dataType: "JSON"
			});
		}

		function SubmitFoodItem(brand, item){
			data = {
				item : item,
				brand : brand
			}
			$.ajax({
				type: "POST",
				url: "/findfood",
				data: data,
				success: function(msg, status, jqXHR){
					if(status == "success"){
						alert("Successssss");
						console.log(msg);
					} else {
						alert("Nope.");
					}
				},
				dataType: "JSON"
			});
		}
		
		function BuildResultTable(data){
			DATA = data.results;
			$("#SearchTable").empty();
			for(var i = 0; i < data.results.length; i++){
				console.log(data);
				$("#SearchTable").append("<tr onclick=\"SelectRecipe("+ i + ")\"><td>" + data.results[i].recipe.label + "</td><td style='text-align: right;'><img src='" + data.results[i].recipe.image  + "' height='50' width='50'></img></td></tr>");
			}
		}

		function Back(){
			$("#details").fadeOut(200, "swing", function(){
				$("#listings").fadeIn(200, "swing", function(){});
			});
		}

		function SelectGroceryItem(data){
			DrawChart(data.recipe.totalDaily);

			$("#IndexHolder").val(0);
			$("#ingredient_anchor").empty();
			$("#title_anchor").text(data.recipe.label);
			$("#source_anchor").text("from " + data.recipe.source);
			$("#label_anchor").empty();

			for(var i = 0; i < data.recipe.ingredients.length; i++){
				$("#ingredient_anchor").append("<tr> <td> " + data.recipe.ingredients[i].text + " </td> </tr>");
			}
			var terms = data.recipe.dietLabels.concat(data.recipe.healthLabels);
			for(var i = 0; i < terms.length; i++){
				$("#label_anchor").append("<tr> <td> " + terms[i] + " </td> </tr>");
			}


			$("#listings").fadeOut(200, "swing", function(){
				$("#details").fadeIn(200, "swing", function(){});
			});
		}

		function SelectRecipe(index){

			var data = DATA[index];
			console.log(data);
			DrawChart(data.recipe.totalDaily);

			$("#IndexHolder").val(index);
			$("#ingredient_anchor").empty();
			$("#title_anchor").text(data.recipe.label);
			$("#source_anchor").text("from " + data.recipe.source);
			$("#label_anchor").empty();

			for(var i = 0; i < data.recipe.ingredients.length; i++){
				$("#ingredient_anchor").append("<tr> <td> " + data.recipe.ingredients[i].text + " </td> </tr>");
			}
			var terms = data.recipe.dietLabels.concat(data.recipe.healthLabels);
			for(var i = 0; i < terms.length; i++){
				$("#label_anchor").append("<tr> <td> " + terms[i] + " </td> </tr>");
			}


			$("#listings").fadeOut(200, "swing", function(){
				$("#details").fadeIn(200, "swing", function(){});
			});
		}


	#map
		script( src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
		script.
			initMap(!{JSON.stringify(coords)})
	

	.main-side-bar
		#listings
			
			.input-group
				input.form-control#searchbar(type="text", placeholder="search", tabindex="2", name="keywords")
				.input-group-btn
					button.btn.btn-default.search-button(type="button", onclick="SubmitSearch()")
						i.glyphicon.glyphicon-search

			br
			.scrollable
				table.datatable
					tbody#SearchTable


		#details(style='display:none;').scrollable
			input#IndexHolder(type="hidden")
			button.btn.btn-primary.regular-button(style='width: 100px;', onclick='Back()')
				i.fa.fa-angle-left(style='margin-right: 15px; float: left;')
				| Back 
			button.btn.btn-primary.regular-button(style='width: 100px;', onclick='AddFood()') Add
				i.fa.fa-plus(style='margin-left: 15px; text-align: right;')
			
			
			h2#title_anchor
			small#source_anchor

			hr

			.ingredients
				h3 Ingredients
				table
					tbody#ingredient_anchor
			hr
			.labels
				h3 Labels
				table
					tbody#label_anchor
			hr
			.radarChart


	.grocery-side-bar
		h2 Groceries
		hr
		.scrollable
			table.datatable
					tbody#GroceryAnchor


	script.
		function DrawChart(input){
			var margin = {top: 100, right: 50, bottom: 100, left: 80},
			width = Math.min(400, window.innerWidth - 10) - margin.left - margin.right,
			height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);

			var data = [];
			var max = 0;
			for (var key in input) {
				if (input.hasOwnProperty(key) && key != "VITK1") {
					if(input[key].quantity / 100.0 > max) max = input[key].quantity / 100.0;
					data.push({axis:input[key].label, value: input[key].quantity / 100.0});
				}
			}
			data = [data];
			console.log(data);

			var color = d3.scale.ordinal().range(["#EDC951","#CC333F","#00A0B0"]);
				
			var radarChartOptions = {
				w: width,
				h: height,
				margin: margin,
				maxValue: 1.0,
				levels: 5,
				roundStrokes: true,
				color: color
			};

			//Call function to draw the Radar chart
			RadarChart(".radarChart", data, radarChartOptions);


		}
		GetFoods();
