doctype html
html
	head
		title Vivacity
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",crossorigin="anonymous")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.container.login-form
			.header
				img(src="/images/flower_big.png")
				h1 Vivacity
				
			br
			small Login to get connected

			form(action="/login", method="post", id="LoginForm")
				.form-group.row
					label.col-md-2.col-sm-2.col-md-offset-1.col-sm-offset-1.col-form-label Username
					.col-md-8.col-sm-8
						input.form-control(type="text", placeholder="Spongebob", name="username")
				br
				.form-group.row
					label.col-md-2.col-sm-2.col-md-offset-1.col-sm-offset-1.col-form-label Password
					.col-md-8.col-sm-8
						input.form-control(type="password", placeholder="Squarepants", name="password")
				br
				button.btn.btn-primary.regular-button(type="submit") Login
				br
				a(href="/signup")
					small(style="display: block; margin-top: 10px;") Not a member? Sign up!

			block fail